.idea
.vagrant
.vscode
/vendor
/node_modules
/sub_modules
/bower_components
Homestead.yaml
Homestead.json
_ide_helper.php
.phpstorm.meta.php
_ide_helper_models.php
composer.lock
access.log
error.log
npm-debug.log